<template>
  <div>
    <table>
      <th>Imie</th>
      <th>Nazwisko</th>
      <th>Numer lokaty</th>
      <th rowspan="2"></th>
      <tr>
        <td>
          <input type="text" class="form-input" v-model="firstName" />
        </td>
        <td>
          <input type="text" class="form-input" v-model="lastName" />
        </td>
        <td>
          <input type="text" class="form-input" v-model="depositNumber" />
        </td>
      </tr>
      <tr :key="deposit.key" v-for="deposit in filteredDepositList">
        <td>{{deposit.person.firstName}}</td>
        <td>{{deposit.person.lastName}}</td>
        <td>{{deposit.depositNumber}}</td>
        <td class="options">
          <button class="btn fas fa-info" @click="$router.push('deposit/'+deposit.id)"></button>
          <button class="btn fas fa-times" @click="remove(deposit.id)"></button>
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      deposits: [],
      firstName: "",
      lastName: "",
      depositNumber: ""
    };
  },
  mounted() {
    axios
      .get(this.apiAddress + "deposits", {
        auth: {
          username: this.$store.state.username,
          password: this.$store.state.password
        }
      })
      .then(response => {
        this.deposits = response.data;
      });
  },
  computed: {
    filteredDepositList() {
      return this.deposits
        .filter(deposit => {
          return deposit.person.firstName
            .toLowerCase()
            .includes(this.firstName.toLowerCase());
        })
        .filter(deposit => {
          return deposit.person.lastName
            .toLowerCase()
            .includes(this.lastName.toLowerCase());
        })
        .filter(deposit => {
          return deposit.depositNumber
            .toLowerCase()
            .includes(this.depositNumber.toLowerCase());
        });
    }
  },
  methods: {
    remove(id) {
      axios
        .delete(this.apiAddress + "deposits/"+id, {
          auth: {
            username: this.$store.state.username,
            password: this.$store.state.password
          }
        })
        .then(response => {
          if(response.data){
              this.$router.push('/')
          }
        });
    }
  }
};
</script>