<template>
  <div>
    <div class="status">{{deposit.value.toFixed(2)}}zł</div>
    <table>
      <tr>
        <th colspan="4">KREDYTY</th>
      </tr>
      <tr>
        <th>Kwota</th>
        <th>Wysokośc raty</th>
        <th>Pozostałych rat</th>
        <th></th>
      </tr>
      <tr :key="credit.id" v-for="credit in credits">
        <td>{{credit.value}}</td>
        <td>{{credit.installmentValue}}</td>
        <td>{{credit.installmentsToPaid}}</td>
        <td class="options">
          <button
            class="fas fa-cash-register btn"
            @click="pay(credit.id)"
            v-if="credit.installmentsToPaid>0"
          ></button>
        </td>
      </tr>
    </table>
  </div>
</template>

<style scoped>
.status {
  padding: 0.25rem;
  border-radius: 0.25rem;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.7);
  min-width: 5vw;
  width: 50vw;
  margin: 0 auto;
  color: #333;
  font-size: 3em;
}
</style>

<script>
import axios from "axios";

export default {
  data() {
    return {
      deposit: null,
      credits: [],
      transfers: []
    };
  },
  mounted: function() {
    axios
      .get(this.apiAddress + "deposits/" + this.$route.params.deposit_id, {
        auth: {
          username: this.$store.state.username,
          password: this.$store.state.password
        }
      })
      .then(response => {
        this.deposit = response.data;
      });
    axios
      .get(this.apiAddress + "credits/from/" + this.$route.params.deposit_id, {
        auth: {
          username: this.$store.state.username,
          password: this.$store.state.password
        }
      })
      .then(response => {
        this.credits = response.data;
      });
    axios
      .get(
        this.apiAddress + "transfers/from/" + this.$route.params.deposit_id,
        {
          auth: {
            username: this.$store.state.username,
            password: this.$store.state.password
          }
        }
      )
      .then(response => {
        this.transfers = response.data;
      });
  },
  methods: {
    pay(id) {
      axios
        .put(
          this.apiAddress + "credits/payInstallment/" + id,
          {},
          {
            auth: {
              username: this.$store.state.username,
              password: this.$store.state.password
            }
          }
        )
        .then(() => {
          axios
            .get(
              this.apiAddress + "deposits/" + this.$route.params.deposit_id,
              {
                auth: {
                  username: this.$store.state.username,
                  password: this.$store.state.password
                }
              }
            )
            .then(response => {
              this.deposit = response.data;
            });

          axios
            .get(
              this.apiAddress + "credits/from/" + this.$route.params.deposit_id,
              {
                auth: {
                  username: this.$store.state.username,
                  password: this.$store.state.password
                }
              }
            )
            .then(response => {
              this.credits = response.data;
            });
        });
    }
  }
};
</script>