<template>
    <div class="container">
        <router-link to="/new-customer/new" class="tile">Nowy klient</router-link>
        <router-link to="/users" class="tile">Lista klientów</router-link>
        <router-link to="/new-deposit" class="tile">Nowa lokata</router-link>
        <router-link to="/new-payment" class="tile">Nowa wpłata/wypłata</router-link>
        <router-link to="/new-credit" class="tile">Nowy kredyt</router-link>
        <router-link to="/deposits" class="tile">Lista lokat</router-link>
        <router-link to="/" class="tile">Start</router-link>
        <router-link to="/" class="tile">Start</router-link>
        <router-link to="/test-view" class="tile">Test View</router-link>
    </div>
</template>

<style scoped>
    
    .container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    @media(max-width: 768px) {
        .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        }
    }

    .tile{
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(5px);
        padding: 7vh .5rem;
        border-radius: 0.25rem;
        margin: 1rem;
        color: rgba(0, 0, 0, 0.9);
        font-size: 1.5em;
        display: table-cell;
        text-align: center;
        text-decoration: none;
        transition: .5s; 
    }
    .tile:hover{
        backdrop-filter: blur(20px);
    }
</style>