<template>
    <div class="login-page">
        <div v-if="allert!=null" class="error">{{allert}}</div>
        <div class="form">
            <div class="form-label">Login</div>
            <input type="text" name="username" id="username" class="form-input" v-model="username">
        </div>
        <div class="form">
            <div class="form-label">Hasło</div>
            <input type="password" name="password" id="password" class="form-input" v-model="password">
        </div>
        <button class="btn" @click="login">Zaloguj</button>
    </div>
</template>

<script>
import axios from'axios'

export default {
    data(){
        return{
            username:"",
            password:"",
            allert: null
        }
    },
    methods: {
        login(){

            axios.post(this.apiAddress+'login', {username: this.username, password: this.password})
            .then(response=>{

                    if(response.data==false){
                        this.allert="Błędne login lub hasło"
                    }else{
                        this.$store.commit('authenticate')
                        this.$store.commit('setUsername', response.data.username)
                        this.$store.commit('setPassword', response.data.password)

                        this.$router.push('/')
                    }
                })
        }
    },
    computed: {
        state(){
            return this.$store.state
        }
    }
}
</script>

<style scoped>
.login-page{
    width: 30vw;
    padding: 20vh 0;
    margin: auto;
}
</style>