<template>
  <div>
    <transition
      name="multi-page-form"
      enter-active-class="animated fadeInRight"
      leave-active-class="animated fadeOutLeft"
      mode="out-in"
    >
      <div v-if="step === 1" id="step1" key="1">
        <div class="new-user" id="new-user">
          <div class="form">
            <label for="firstName" class="form-label">Imie</label>
            <input
              type="text"
              name="firstName"
              v-model="firstName"
              id="firstName"
              class="form-input"
              autocomplete="off"
            />
          </div>
          <div class="form">
            <label for="lastName" class="form-label">Nazwisko</label>
            <input
              type="text"
              name="lastName"
              v-model="lastName"
              id="lastName"
              class="form-input"
              autocomplete="off"
            />
          </div>
          <div class="form">
            <label for="pesel" class="form-label">Pesel</label>
            <input
              type="text"
              name="pesel"
              v-model="pesel"
              id="pesel"
              class="form-input"
              autocomplete="off"
            />
          </div>

          <button class="btn" @click="next()">Dalej</button>
        </div>
      </div>
      <div v-if="step === 2" id="step2" key="2">
        <table>
          <th>ID</th>
          <th>Miasto</th>
          <th>Ulica</th>
          <th>Kod pocztowy</th>
          <th>Numer budynku</th>
          <th>Numer mieszkania</th>
          <th></th>
          <tr>
            <td></td>
            <td>
              <input type="text" class="form-input" name="city" v-model="city" autocomplete="off" />
            </td>
            <td>
              <input
                type="text"
                class="form-input"
                name="street"
                v-model="street"
                autocomplete="off"
              />
            </td>
            <td>
              <input
                type="text"
                class="form-input"
                name="addressCode"
                v-model="addressCode"
                autocomplete="off"
              />
            </td>
            <td>
              <input
                type="text"
                class="form-input"
                name="buildingNumber"
                v-model="buildingNumber"
                autocomplete="off"
              />
            </td>
            <td>
              <input
                type="text"
                class="form-input"
                name="flatNumber"
                v-model="flatNumber"
                autocomplete="off"
              />
            </td>
            <td>
              <button class="fas fa-plus btn" @click="addAddress()"></button>
            </td>
          </tr>
          <tr v-bind:key="address.id" v-for="address in filteredList">
            <td>{{ address.id }}</td>
            <td>{{ address.city }}</td>
            <td>{{ address.street }}</td>
            <td>{{ address.addressCode }}</td>
            <td>{{ address.buildingNumber }}</td>
            <td>{{ address.flatNumber }}</td>
            <td>
              <button class="fas fa-check btn" @click="selectAddress(address)"></button>
            </td>
          </tr>
        </table>
      </div>
      <div v-if="step == 3" id="step3" key="3">
        <table>
          <tr>
            <td>Imie</td>
            <td>{{ this.firstName }}</td>
          </tr>
          <tr>
            <td>Nazwisko</td>
            <td>{{ this.lastName }}</td>
          </tr>
          <tr>
            <td>Pesel</td>
            <td>{{ this.pesel }}</td>
          </tr>
          <tr>
            <td>Miasto</td>
            <td>{{ this.city }}</td>
          </tr>
          <tr>
            <td>Ulica</td>
            <td>{{ this.street }}</td>
          </tr>
          <tr>
            <td>Kod pocztowy</td>
            <td>{{ this.addressCode }}</td>
          </tr>
          <tr>
            <td>Numer budynku</td>
            <td>{{ this.buildingNumber }}</td>
          </tr>
          <tr>
            <td>Numer mieszkania</td>
            <td>{{ this.flatNumber }}</td>
          </tr>
        </table>

        <button class="btn" @click="save()">Zapisz</button>
      </div>
      <div v-if="step == 4" class="ready-alert-container" id="step4" key="4">
        <div class="ready-alert">
          <i class="fas fa-check"></i>
          <p>Dodano klienta</p>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      step: 1,
      userId: null,
      firstName: null,
      lastName: null,
      pesel: null,

      addressList: [],
      addressId: null,
      city: "",
      street: "",
      addressCode: "",
      buildingNumber: "",
      flatNumber: "",

      user: null,
      address: null
    };
  },
  mounted: function() {
    console.log(this.$route.params);

    if (this.$route.params.user_id != "new") {
      axios
        .get(this.apiAddress + "persons/" + this.$route.params.user_id, {
          auth: {
            username: this.$store.state.username,
            password: this.$store.state.password
          }
        })
        .then(response => {
          this.userId = response.data.id;
          this.user = response.data;
          this.firstName = response.data.firstName;
          this.lastName = response.data.lastName;
          this.pesel = response.data.pesel;

          this.address = response.data.address;

          this.addressId = response.data.address.id;
          this.city = response.data.address.city;
          this.street = response.data.address.street;
          this.addressCode = response.data.address.addressCode;
          this.buildingNumber = response.data.address.buildingNumber;
          this.flatNumber = response.data.address.flatNumber;
        });
    }

    
  },
  methods: {
    save() {
      this.user = {
        firstName: this.firstName,
        lastName: this.lastName,
        pesel: this.pesel
      };

      this.commit();
    },
    commit() {
      if (this.$route.params.user_id == "new") {
        console.log("nowy");
        axios
          .post(this.apiAddress + "persons/" + this.addressId, this.user, {
            auth: {
              username: this.$store.state.username,
              password: this.$store.state.password
            }
          })
          .then(response => {
            console.log(response)
            this.$store.commit("addNotifications", response);
            if (response.data.notifications[0] != null) {
              this.step = 0;
            }
            this.step++;
          });
      } else {
        console.log("akt");

        axios
          .put(
            this.apiAddress + "persons/" + this.userId,
            {
              id: this.userId,
              firstName: this.firstName,
              lastName: this.lastName,
              pesel: this.pesel,
              address: this.address
            },
            {
              auth: {
                username: this.$store.state.username,
                password: this.$store.state.password
              }
            }
          )
          .then(response => {
            this.$store.commit("addNotifications", response);
            if (response.data.notifications[0] != null) {
              this.step = 0;
            }
            this.step++;
          });
      }
    },
    selectAddress(address) {
      this.addressId = address.id;
      this.city = address.city;
      this.street = address.street;
      this.addressCode = address.addressCode;
      this.buildingNumber = address.buildingNumber;
      this.flatNumber = address.flatNumber;
      this.address = address;
      this.step++;
    },
    addAddress() {
      const address = {
        city: this.city,
        street: this.street,
        addressCode: this.addressCode,
        buildingNumber: this.buildingNumber,
        flatNumber: this.flatNumber
      };

      console.log("dodawanie adresu");

      axios
        .post(this.apiAddress + "address", address, {
          auth: {
            username: this.$store.state.username,
            password: this.$store.state.password
          }
        })
        .then(response => {
          this.step++;
          this.$store.commit("addNotifications", response);
          if (response.data.notifications[0] != null) {this.step = 2}
          this.addressId = response.data.id;
        });
    },
    next() {
      axios
      .get(this.apiAddress + "address", {
        auth: {
          username: this.$store.state.username,
          password: this.$store.state.password
        }
      })
      .then(response => {
        this.addressList = response.data;
      });
      
      this.step++;
    }
  },
  computed: {
    filteredList() {
      return this.addressList
        .filter(address => {
          return address.city.toLowerCase().includes(this.city.toLowerCase());
        })
        .filter(address => {
          return address.street
            .toLowerCase()
            .includes(this.street.toLowerCase());
        })
        .filter(address => {
          return address.addressCode
            .toLowerCase()
            .includes(this.addressCode.toLowerCase());
        })
        .filter(address => {
          return address.buildingNumber
            .toLowerCase()
            .includes(this.buildingNumber.toLowerCase());
        })
        .filter(address => {
          return address.flatNumber
            .toLowerCase()
            .includes(this.flatNumber.toLowerCase());
        });
    }
  }
};
</script>
