<template>
  <div>
    <transition
      name="multi-page-form"
      enter-active-class="animated fadeInRight"
      leave-active-class="animated fadeOutLeft"
      mode="out-in"
    >
      <div v-if="!ready" key="1">
        <table>
          <th>Pesel</th>
          <th>Imie</th>
          <th>Nazwisko</th>
          <th v-if="personId==null"></th>
          <tr v-if="personId==null">
            <td colspan="4">
              <input
                type="text"
                class="form-input"
                v-model="pesel"
                placeholder="Wyszukiwanie po numerze pesel"
              />
            </td>
          </tr>
          <tr v-bind:key="user.id" v-for="user in filteredUsersList">
            <td v-if="personId==null || personId==user.id">{{user.pesel}}</td>
            <td v-if="personId==null || personId==user.id">{{user.firstName}}</td>
            <td v-if="personId==null || personId==user.id">{{user.lastName}}</td>
            <td v-if="personId==null">
              <button class="fas fa-check btn" @click="selectPerson(user)"></button>
            </td>
          </tr>
        </table>
        <table v-if="deposits!=null">
          <th>Lokata</th>
          <th v-if="depositId==null"></th>
          <tr :key="deposit.id" v-for="deposit in deposits">
            <td>{{deposit.depositNumber}}</td>
            <td v-if="depositId==null">
              <button class="fas fa-check btn" @click="selectDeposit(deposit)"></button>
            </td>
          </tr>
        </table>
        <div v-if="depositId!=null">
          <div class="form">
            <label for="value" class="form-label">Kwota</label>
            <input type="number" class="form-input" id="value" v-model.number="value" />
          </div>
          <div class="form">
            <label for="installments" class="form-label">Ilość rat</label>
            <input type="number" class="form-input" id="installments" v-model.number="installments" />
          </div>
          <div class="form">
            <label for="percent" class="form-label">Oprocentowanie</label>
            <input type="number" class="form-input" id="percent" v-model.number="percent" />
          </div>
          <div class="form">
            <label for="installmentValue" class="form-label">Wysokość raty</label>
            <input
              type="number"
              class="form-input"
              id="installmentValue"
              v-model.number="installmentValue"
              disabled
            />
          </div>
          <div class="form">
            <label for="creditValue" class="form-label">Całkowita kwota do spłaty</label>
            <input
              type="number"
              class="form-input"
              id="creditValue"
              v-model.number="creditValue"
              disabled
            />
          </div>
        </div>
        <button class="btn" @click="commit" v-if="depositId!=null && value!=null">Zapisz</button>
      </div>
      <div v-if="ready" class="ready-alert-container" id="step4" key="2">
        <div class="ready-alert">
          <i class="fas fa-check"></i>
          <p>Zapisano</p>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      users: [],
      deposits: null,
      personId: null,
      depositId: null,
      pesel: "",
      value: null,
      percent: null,
      installments: null,
      ready: false
    };
  },
  mounted: function() {
    axios
      .get(this.apiAddress + "persons", {
        auth: {
          username: this.$store.state.username,
          password: this.$store.state.password
        }
      })
      .then(response => {
        this.users = response.data;
      });
  },
  computed: {
    filteredUsersList() {
      return this.users.filter(user => {
        return user.pesel.toLowerCase().includes(this.pesel.toLowerCase());
      });
    },
    creditValue() {
      if (this.value == 0 || this.percent == null) {
        return null;
      }

      return this.value + this.value * (this.percent / 100);
    },
    installmentValue() {
      if (this.creditValue == null || this.installments == null) {
        return null;
      }
      return (this.creditValue / this.installments).toFixed(2);
    }
  },
  methods: {
    selectPerson(user) {
      this.personId = user.id;

      axios
        .get(this.apiAddress + "deposits/person/" + this.personId, {
          auth: {
            username: this.$store.state.username,
            password: this.$store.state.password
          }
        })
        .then(response => {
          this.deposits = response.data;
        });

      this.users = [user];
    },
    selectDeposit(deposit) {
      this.depositId = deposit.id;
      this.deposits = [deposit];
    },
    commit() {
      axios
        .post(
          this.apiAddress + "credits/" + this.depositId,
          {
            value: this.value,
            installments: this.installments,
            percent: this.percent
          },
          {
            auth: {
              username: this.$store.state.username,
              password: this.$store.state.password
            }
          }
        )
        .then(response => {
          this.$store.commit("addNotifications", response);
          if (response.data.notifications[0] == null) {
            this.ready = true;
          }
        });
    }
  }
};
</script>