<template>
  <div>
    <transition
      name="multi-page-form"
      enter-active-class="animated fadeInRight"
      leave-active-class="animated fadeOutLeft"
      mode="out-in"
    >
      <div v-if="!ready" key="1">
        <div class="form">
          <label for="firstName" class="form-label">Numer lokaty</label>
          <input
            type="text"
            name="depositNumber"
            v-model="depositNumber"
            id="depositNumber"
            class="form-input"
            autocomplete="off"
          />
        </div>

        <table>
          <th>Pesel</th>
          <th>Imie</th>
          <th colspan="2">Nazwisko</th>
          <tr v-if="personId==null">
            <td colspan="4">
              <input
                type="text"
                class="form-input"
                v-model="pesel"
                placeholder="Wyszukiwanie po numerze pesel"
              />
            </td>
          </tr>
          <tr v-bind:key="user.id" v-for="user in filteredUsersList">
            <td v-if="personId==null || personId==user.id">{{user.pesel}}</td>
            <td v-if="personId==null || personId==user.id">{{user.firstName}}</td>
            <td v-if="personId==null || personId==user.id">{{user.lastName}}</td>
            <td v-if="personId==null">
              <button class="fas fa-check btn" @click="select(user.id)"></button>
            </td>
          </tr>
        </table>

        <button class="btn" v-if="personId!==null && depositNumber!=''" @click="commit">Zapisz</button>
      </div>
      <div v-if="ready" class="ready-alert-container" id="step4" key="2">
        <div class="ready-alert">
          <i class="fas fa-check"></i>
          <p>Dodano lokatę</p>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      users: [],
      pesel: "",
      depositNumber: "",
      personId: null,
      ready: false
    };
  },
  mounted: function() {
    axios
      .get(this.apiAddress + "persons", {
        auth: {
          username: this.$store.state.username,
          password: this.$store.state.password
        }
      })
      .then(response => {
        this.users = response.data;
      });
  },
  computed: {
    filteredUsersList() {
      return this.users.filter(user => {
        return user.pesel.toLowerCase().includes(this.pesel.toLowerCase());
      });
    }
  },
  methods: {
    select(personId) {
      this.personId = personId;
    },
    commit() {
      axios
        .post(
          this.apiAddress + "deposits/" + this.personId,
          {
            depositNumber: this.depositNumber
          },
          {
            auth: {
              username: this.$store.state.username,
              password: this.$store.state.password
            }
          }
        )
        .then(() => {
          this.ready = true;
        });
    }
  }
};
</script>