<template>
  <div>
    <transition
      name="multi-page-form"
      enter-active-class="animated fadeInRight"
      leave-active-class="animated fadeOutLeft"
      mode="out-in"
    >
      <div v-if="!ready" key="1">
        <table>
          <th>Pesel</th>
          <th>Imie</th>
          <th>Nazwisko</th>
          <th v-if="personId==null"></th>
          <tr v-if="personId==null">
            <td colspan="4">
              <input
                type="text"
                class="form-input"
                v-model="pesel"
                placeholder="Wyszukiwanie po numerze pesel"
              />
            </td>
          </tr>
          <tr v-bind:key="user.id" v-for="user in filteredUsersList">
            <td v-if="personId==null || personId==user.id">{{user.pesel}}</td>
            <td v-if="personId==null || personId==user.id">{{user.firstName}}</td>
            <td v-if="personId==null || personId==user.id">{{user.lastName}}</td>
            <td v-if="personId==null">
              <button class="fas fa-check btn" @click="selectPerson(user)"></button>
            </td>
          </tr>
        </table>
        <table v-if="deposits!=null">
          <th>Lokata</th>
          <th v-if="depositId==null"></th>
          <tr :key="deposit.id" v-for="deposit in deposits">
            <td>{{deposit.depositNumber}}</td>
            <td v-if="depositId==null">
              <button class="fas fa-check btn" @click="selectDeposit(deposit)"></button>
            </td>
          </tr>
        </table>
        <div class="radio-container" v-if="depositId!=null">
          <label>
            <input type="radio" v-model="type" value="in" />
            <span class="btn">Wpłata</span>
          </label>
          <label>
            <input type="radio" v-model="type" value="out" />
            <span class="btn">Wypłata</span>
          </label>
        </div>
        <div class="form" v-if="depositId!=null">
          <label for="firstName" class="form-label">Kwota</label>
          <input
            type="text"
            name="depositNumber"
            v-model="value"
            id="depositNumber"
            class="form-input"
            autocomplete="off"
          />
        </div>
        <button class="btn" @click="commit" v-if="depositId!=null && value!=null">Zapisz</button>
      </div>
      <div v-if="ready" class="ready-alert-container" id="step4" key="2">
        <div class="ready-alert">
          <i class="fas fa-check"></i>
          <p>Zapisano</p>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      users: [],
      deposits: null,
      personId: null,
      depositId: null,
      pesel: "",
      value: null,
      type: "in",
      ready: false
    };
  },
  mounted: function() {
    axios
      .get(this.apiAddress + "persons", {
        auth: {
          username: this.$store.state.username,
          password: this.$store.state.password
        }
      })
      .then(response => {
        this.users = response.data;
      });
  },
  computed: {
    filteredUsersList() {
      return this.users.filter(user => {
        return user.pesel.toLowerCase().includes(this.pesel.toLowerCase());
      });
    }
  },
  methods: {
    selectPerson(user) {
      this.personId = user.id;

      axios
        .get(this.apiAddress + "deposits/person/" + this.personId, {
          auth: {
            username: this.$store.state.username,
            password: this.$store.state.password
          }
        })
        .then(response => {
          this.deposits = response.data;
        });

      this.users = [user];
    },
    selectDeposit(deposit) {
      this.depositId = deposit.id;
      this.deposits = [deposit];
    },
    commit() {
      const transfer = {
        value: this.value
      };

      if (this.type === "out") {
        transfer.value = transfer.value * -1;
      }

      axios.post(this.apiAddress + "transfers/" + this.depositId, transfer, {
        auth: {
          username: this.$store.state.username,
          password: this.$store.state.password
        }
      });

      this.ready = true;
    }
  }
};
</script>