<template>
<div class="radio-container">
    <label><input type="radio" v-model="type" value="in"><span class="btn">Wpłata</span></label>
    <label><input type="radio" v-model="type" value="out"><span class="btn">Wypłata</span></label>
</div>
</template>
<script>
export default {
    data(){
        return{
            type: null
        }
    }
}
</script>
<style scoped>
    .radio-container input{
        visibility: hidden;
    }

    .radio-container input:checked ~ .btn{
        background-color: rgba(255, 255, 255, 0.5);
        color: #333;
    }

    .radio-container input:checked ~ .btn::before{
        font-family: FontAwesome;
        content: "\f00c";
        padding-right: 5px;
    }

    .radio-container{
        padding: 1rem;
    }
    
</style>