<template>
  <div class="about">
    <ListUsersComponent :users="users"></ListUsersComponent>
  </div>
</template>

<script>
import ListUsersComponent from "@/components/ListUsersComponent";
import axios from "axios";

export default {
  name: "Users",
  components: {
    ListUsersComponent
  },
  methods: {
    onUserAdded: function() {
      this.reload();
    },
    reload: function() {
      axios
        .get("http://localhost:8081/api/persons", {
          auth: {
            username: this.$store.state.username,
            password: this.$store.state.password
          }
        })
        .then(response => {
          this.users = response.data;
        });
    }
  },
  data() {
    return {
      users: null
    };
  },
  mounted: function() {
    this.reload();
  }
};
</script>