<template>
  <div>
    <h2>Lista użytkowników</h2>
    <table>
      <th>ID</th>
      <th>Imie</th>
      <th>Nazwisko</th>
      <th>Pesel</th>
      <th></th>
      <tr v-bind:key="user.id" v-for="user in users">
        <td>{{user.id}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.pesel}}</td>
        <td class="options">
          <button class="btn fas fa-edit" @click="go(user.id)"></button>
          <button class="btn fas fa-times" @click="remove(user.id)"></button>
        </td>
      </tr>
    </table>
  </div>
</template>

<style scoped>
</style>

<script>
import axios from 'axios'
export default {
  name: "UserComponent",
  data() {
    return {
      
    };
  },
  props: {
    users: []
  },
  methods: {
    remove(id){
      axios.delete(this.apiAddress+'persons/'+id,{
        auth: {username: this.$store.state.username, password: this.$store.state.password}
      }).then(response=>{
        if(response.data==true){
          this.$router.push('/');
        }
      })
    },
    go(id){
      this.$router.push('new-customer/'+id)
    }
  }
};
</script>