<template>
    <div class="new-user" id="new-user">
        <label>Imie</label>
        <input type="text" v-model="firstName">
        <label>Nazwisko</label>
        <input type="text" v-model="lastName">
        <label>Pesel</label>
        <input type="text" v-model="pesel">
        <button @click="save()">Zapisz</button>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    data() {
        return {
            firstName: null,
            lastName: null,
            pesel: null
        }
    },
    methods:{
        save(){
            const user={
                firstName: this.firstName,
                lastName: this.lastName,
                pesel: this.pesel
            }

            this.commit()
        },
        commit(){
            axios.post('http://localhost:8081/api/persons', user).then(()=>{
                this.$emit('userAdded')
            })

            console.log(user)
        }
    }
}
</script>