<template>
    <div>
        <h2>Zapisane adresy</h2>
        <table>
            <th>ID</th>
            <th>Miasto</th>
            <th>Ulica</th>
            <th>Kod pocztowy</th>
            <th>Numer budynku</th>
            <th>Numer mieszkania</th>
            <th></th>
            <tr>
                <td></td>
                <td><input type="text" class="form-input" name="city" v-model="city" autocomplete="no"></td>
                <td><input type="text" class="form-input" name="street" v-model="street" autocomplete="no"></td>
                <td><input type="text" class="form-input" name="addressCode" v-model="addressCode" autocomplete="no"></td>
                <td><input type="text" class="form-input" name="buildingNumber" v-model="buildingNumber" autocomplete="no"></td>
                <td><input type="text" class="form-input" name="flatNumber" v-model="flatNumber" autocomplete="no"></td>
                <td><button class="fas fa-plus btn"></button></td>
            </tr>
            <tr v-bind:key="address.id" v-for="address in filteredList">
                <td>{{address.id}}</td>
                <td>{{address.city}}</td>
                <td>{{address.street}}</td>
                <td>{{address.addressCode}}</td>
                <td>{{address.buildingNumber}}</td>
                <td>{{address.flatNumber}}</td>
                <td><button class="fas fa-check btn"></button></td>
            </tr>
        </table>
    </div>
</template>

<script>
import axios from "axios";

export default {
    data() {
        return {
            addressList: [],
            city: "",
            street: "",
            addressCode: "",
            buildingNumber: "",
            flatNumber: ""
        }
    },
    mounted: function() {
        axios.get("http://localhost:8081/api/address").then(response => {
        this.addressList = response.data;
      });
    },
    computed: {
    filteredList() {
      return this.addressList
      .filter(address => {
        return address.city.toLowerCase().includes(this.city.toLowerCase())
      })
      .filter(address => {
        return address.street.toLowerCase().includes(this.street.toLowerCase())
      })
      .filter(address => {
        return address.addressCode.toLowerCase().includes(this.addressCode.toLowerCase())
      })
      .filter(address => {
        return address.buildingNumber.toLowerCase().includes(this.buildingNumber.toLowerCase())
      })
      .filter(address => {
        return address.flatNumber.toLowerCase().includes(this.flatNumber.toLowerCase())
      })
    }
  }
}
</script>