<template>
  <div id="app">
    <transition
      name="multi-page-form"
      enter-active-class="animated fadeInRight"
      leave-active-class="animated fadeOutLeft"
    >
      <router-link to="/" v-if="['home'].indexOf($route.name)" class="home-page">
        <i class="fas fa-chevron-left"></i>
        <i class="fas fa-home"></i> Start
      </router-link>
    </transition>
    <div class="container">
      <transition
        name="notifications-fade"
        enter-active-class="animated fadeInRight"
        leave-active-class="animated fadeOutLeft"
      >
        <div key="main" v-if="['home'].indexOf($route.name)">
          <div v-for="(notification, index) in $store.state.notifications" :key="index" @click="removeNotification(index)">
            <div v-if="notification.status=='success'" class="success">{{notification.message}}</div>
            <div v-if="notification.status=='error'" class="error">{{notification.message}}</div>
          </div>
        </div>
      </transition>
      <transition
        name="main-fade"
        enter-active-class="animated fadeInRight"
        leave-active-class="animated fadeOutLeft"
      >
        <router-view />
      </transition>
      
      
    </div>
    
  </div>
</template>

<style>
body {
  margin: 0;
  background-color: #222;
  background-image: url(https://picsum.photos/1920/1080);
}

.home-page {
  color: #fff;
  direction: none;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  text-decoration: none;
  padding: 0.4rem;
  border-radius: 0.25rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 2;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #eee;
}

#nav {
  padding: 0.5rem 30px;
  background-color: #222;
}

#nav a {
  font-weight: bold;
  color: #eee;
  text-decoration: none;
  margin: 0 1rem;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
.container {
  margin: 0 auto;
  margin-top: 2rem;
  position: fixed;
  top: 3rem;
  right: 0;
  left: 0;
  max-height: 90vh;
  overflow-y: auto;
  padding: 0 5vw;
  overflow-x: hidden;
}
table {
  width: 100%;
  border: none;
  margin: 1rem 0;
}
th {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  color: #eee;
  font-weight: bolder;
  padding: 0.25rem;
  border-radius: 0.25rem;
}
tr:nth-child(2n + 1) {
  background-color: rgba(255, 255, 255, 0.7);
}
tr:nth-child(2n + 2) {
  background-color: rgba(170, 170, 170, 0.7);
}
td {
  padding: 0.25rem;
  border-radius: 0.25rem;
  backdrop-filter: blur(5px);
  color: #333;
  min-width: 5vw;
}
.form {
  margin: 1rem 0;
  padding: 0.2rem;
  border-radius: 0.25rem;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
}
.form-label {
  margin-left: 1rem;
  color: #333;
}

.form-label::after {
  content: ":";
}
.form-input {
  background-color: rgba(0, 0, 0, 0.3);
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  box-shadow: inset 0 0 2px #333;
  color: #eee;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.btn {
  background-color: rgba(100, 100, 100, 0.5);
  backdrop-filter: blur(5px);
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  outline: none;
  color: #eee;
  font-size: 1.2em;
  text-transform: uppercase;
  margin: 0.5rem unset;
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.ready-alert-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  vertical-align: middle;
}

.ready-alert {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  padding-bottom: 1rem;
  display: inline-block;
}
.ready-alert i {
  font-size: 6em;
}
.radio-container input {
  visibility: hidden;
}

.radio-container input:checked ~ .btn {
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
}

.radio-container input:checked ~ .btn::before {
  font-family: FontAwesome;
  content: "\f00c";
  padding-right: 5px;
}

.radio-container {
  padding: 1rem;
}
.error {
  padding: 0.25rem;
  border-radius: 0.25rem;
  backdrop-filter: blur(5px);
  background-color: rgba(12, 12, 12, 0.7);
  min-width: 5vw;
  margin: 0.25rem 0;
}
.error::before {
  font-family: FontAwesome;
  content: "\f071";
  padding-right: 5px;
}
.success {
  padding: 0.25rem;
  border-radius: 0.25rem;
  backdrop-filter: blur(5px);
  background-color: rgba(155, 155, 155, 0.7);
  min-width: 5vw;
  margin: 0.25rem 0;
}
.success::before {
  font-family: FontAwesome;
  content: "\f00c";
  padding-right: 5px;
}
.options .btn {
  width: unset;
}
</style>

<script>
export default {
  mounted: function() {
    if (!this.$store.state.isAuthenticated) {
      this.$router.push("/login");
    }
  },
  methods:{
    removeNotification(index){
      this.$store.commit('removeNotification', index)
    }
  }
};
</script>